body {
    color: rgb(58, 115, 186);
    background-color: rgb(58, 115, 186);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
}

.logo {
    width: 70%;
}

.center {
    display: flex;
    justify-content: center;
}

.cabecalhoimg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
<<<<<<< HEAD

#icon{
    width: 800px;
    height: 9%;
    margin-right: 10px;
}

.cor{
   background-color: rgb(3, 37, 82);
   width: 100px;
=======
<<<<<<< HEAD
.entrar{
    display: flex;
    color: aliceblue;
    align-items: center;
=======
.senha{
    display: flex;
    justify-content: center;
}
.esqueceu{
    display: flex;
    justify-content: center;
>>>>>>> 2df1922e1cf404b9c55bb9f960d4b51ef9e52894
>>>>>>> 0459926139b4a9abfdf15804fded46b86c383573
}