#semfundo {
    color: rgb(58, 115, 186);
    background-color:  #457cc4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    justify-content: center;
    align-items: center;
}

#inicio_menu {
    background-color: #032552;
}

#comfundo {
    background-color: rgb(58, 115, 186);
    background-image: url(../img/fundo.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    align-items: center;
}

.pp{
    color: #002855;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h11{
    color: #002855;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.logo {
    width: 90%;
}

.center {
    display: flex;
    justify-content: center;
}
.error {
  color: #ffcccc;
  font-size: 12px;
  margin-top: 2px;
}
.containerr {
  max-width: 420px;
  margin: auto;
  padding: 1rem;
  border-radius: 20px;
}

.sectionn {
  border-radius: 8px;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: white;
  color: black;
}

.green-sectionn .sectionn-header {
  background-color: #0a9e3e;
  color: white;
  padding: 0.7rem;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px 5px 0 0;
}

.train-info {
  text-align: center;
  padding: 1rem 0;
}

.train-info h1 {
  font-size: 3rem;
  margin: 0;
}

.train-info h1 span {
  font-size: 1rem;
  color: #333;
}

.train-details {
  background-color: #0a9e3e;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.dots {
  text-align: center;
  margin-top: 1rem;
}

.dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  opacity: 0.6;
}

.orange-sectionn {
  background-color: #cd7811;
  color: white;
}

.notice-header {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.notice-header i {
  margin-right: 8px;
}

.orange-sectionn h3 {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.orange-sectionn ul {
  padding-left: 1rem;
  font-size: 0.95rem;
}

.train-image img {
  width: 100%;
  border-radius: 8px;
}

.entrar {
    display: flex;
    color: aliceblue;
    align-items: center;
    text-align: center;
}

.esqueceu {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}

#navbar {
    background-color: rgb(29, 93, 159);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#icon {
    width: 500px;
    height: 9%;
    margin-right: 10px;
}

.cor {
    background-color: rgb(3, 37, 82);
    width: 100px;
}

.cabecalhoimg {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.botao_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(10vh - 150px);
}

.azul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(85vh - 150px);
}


.inf_azul {
    background-color: #023880;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 300px;
    height: 300px;
    padding: 20px;
    
}

.esqueceu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 150px);
}

.senha {
    background-color: #003580;
    padding: 30px;
    border-radius: 20px;
    color: white;
    width: 300px;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.botao2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d5d9f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-color: #032552;
    border-style: solid;
    margin: 20px;
    border-radius: 40px;
}

.botao3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #1d5d9f;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 40px;
}
.botao22{
    display: inline-block;
    padding: 20px 40px;
    background-color: #1d5d9f;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
   
    margin: 130px;
}
.botao23{
    display: inline-block;
    background-color: #1d5d9f;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
  
    margin: 110px;
}
.botao0{
     display: inline-block;
    padding: 20px 40px;
    background-color: #cd7811;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    border-color: #0e355c;
    border-style: solid;
    margin: 130px;
}

.containeer {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  align-items: flex-start;
  color: white;
}

.card.alertaa {
  background-color: #991b1b;
  margin-top:20px;

}

.card.notificacao {
  background-color: #d97706;
  margin-top: 20px;
}

.iconee {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  margin-top: 5px;
}

.texto h3 {
  margin: 0 0 5px 0;
  font-size: 1rem;
}

.texto p {
  margin: 0;
  font-size: 0.95rem;
}

.senha h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.senha p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icone {
    width: 800px;
    height: 9%;
    margin-right: 10px;
}

#titulosenha {
    background-color: rgb(29, 93, 159);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: rgb(255, 247, 234);
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1d5d9f;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
    width: 230px;
    height: 30px;
    background-color: rgba(240, 248, 255, 0);
    border-color: #ffffff;
    border-radius: 10px;
    color: #ffffff;
}

input {
    resize: none;
    width: 230px;
    height: 30px;
    background-color: rgba(240, 248, 255, 0);
    border-color: #ffffff;
    border-width: 1px;
    border-radius: 10px;
    color: #ffffff;
}

.menuu{
    font-size:10px;
}


.branco {
    color: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.menu-lateral {
  height: 100vh;
  width: 250px;
  background-color: #003f8a;
  position: fixed;
  top: 0;
  left: -260px;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 20px;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.decreverman{
    align-items: center;
    display: inline;
}
.label{
    color: white;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}
.menu-lateral li {
  padding: 15px 20px;
  border-bottom: 1px solid #ffffff33;
  color: white;
  cursor: pointer;
}

.menu-lateral li:hover {
  background-color: #0050b3;
}

.fechar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.abrir-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  background-color: #003f8a;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.parteLaranja {
    width: 100px;
    padding: 0%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #d47506;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: x-large;
}

#semfundorelatorioeanalise {
    color: rgb(58, 115, 186);
    background-color: #032552;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
}


.containerrr {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

.notify-btn {
  width: 100%;
  background-color: #d97706;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}



.rotas {
    width: 100px;
    padding: 0%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #023880;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: x-large;
}
#imagemrota{
    width: 500px;
    height: 700px;
    align-items: center;
    justify-content: center;
    display:flex
}
.rotaimagem{
    width: 500px;
    height: 700px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}

header {
    display: block;
    unicode-bidi: isolate;
}

map {
    display: inline;
}
area{
    bottom: unset;
}
.quadradoazul{
    background-color: #023880;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-inline: 15px;
    margin-left: 120px;
    margin-right: 100px;
    width: 150px;
    height: 15px;
    padding: 15px;

}
.quadradoazulclaro {
    background-color: #1d5d9f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #ffffff;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    width: 350px;
    height: 200px;
    margin-top: 0px;
    margin-left: 14px;
    padding: 20px;

}

.quadradinho {
    background-color: #73aaf2;
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 20px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #023880;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #023880;
}

input:focus+.slider {
    box-shadow: 0 0 1px#023880;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#comfundo2 {
    background-color: #023880;
    background-image: url(../img/fundo2.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

#semfundo2 {
    color: rgb(58, 115, 186);
    background-color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.graficoBarra {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#columnchart_values {
    margin-bottom: 40px;
    width: 400px;
    height: 300px;
}

#piechart {
    width: 400px;
    height: 300px;
}

#semfundo {
    color: rgb(58, 115, 186);
    background-color: rgb(12, 46, 95);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 120%;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;

}

#navbar {
    background-color: #457cc4;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
}

#icon {
    width: 500px;
    height: 100px;
    margin-right: 10px;
}

.rotas {
    width: 150px;
    padding: 0%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #023880;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 0px;
    height: 100px;
}


.retangulo {
   text-align: center;
    padding: 20px;
    background-color: rgb(209, 123, 18);
    border-radius: 10px;
    margin: 20px auto;
    width: 60%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tremimagem{
width: 70px;
align-items: center;
padding: 2px;
margin-top: 20px;
}

h2 {
    color: aliceblue;
    font-size: 20px;
    margin-left: 5px
}

.flex{
    display: flex;
    align-items: center
}

.verde {
    width: 20px;
    margin-left: 5px;
    margin-right: 10px;
}

.atencao {
    width: 80px;
    margin-right: 20px;
}

h1 {
    color: aliceblue;
    font-size: 17px;
    margin-left: 5px;
}

.button {
    display: inline-block;
    background-color: rgba(240, 239, 239, 0.836);
    font-weight: bold;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

a {
    color: aliceblue;
    font-size: 20px;
    margin-left: 5px;
    text-decoration: none;
}

.status {
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
    color: aliceblue;
}

p {
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.vermelho {
    height: 240px;
    padding: 0%;
    background-color: #8d0a0a;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-radius: 5px;
    width: 180px;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.horario {
    font-size: 30px;
    margin-left: 60px;
    color: aliceblue;
}

.botao5 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #245a9a;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}


body {
  margin: 0;
  font-family: sans-serif;
  background-color: #002855;
  color: white;
}


header button {
  position: absolute;
  left: 1em;
  top: 1em;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

#monitoramento {
  padding: 1em;
}

.alerta {
  border-radius: 8px;
  padding: 1em;
  margin: 1em 0;
  cursor: pointer;
  width: 400px;
}

.manutencao {
  background-color: #a4161a;
}

.inspecao {
  background-color: #f48c06;
}

.hidden {
  display: none;
}

#detalhes {
  background-color: white;
  color: black;
  margin: 1em;
  border-radius: 10px;
  padding: 1em;
}





  
  .header button {
    position: absolute;
    left: 1em;
    top: 1em;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .titulo-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  
  

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #002855;
  color: white;
}



header button {
  position: absolute;
  left: 1em;
  top: 1em;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

#monitoramento {
  padding: 1em;
}

.alerta {
  border-radius: 8px;
  padding: 1em;
  margin: 1em 0;
  cursor: pointer;
}

.manutencao {
  background-color: #a4161a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inspecao {
  background-color: #f48c06;
  display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.hidden {
  display: none;
}

#detalhes {
  background-color: rgb(164, 0, 0);
  color: black;
  margin: 1em;
  border-radius: 10px;
  padding: 1em;
}


  .header button {
    position: absolute;
    left: 1em;
    top: 1em;
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .titulo-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  
  .logo {
    width: 700px;
    height: 700px;
    object-fit: contain;
  }

h3{
    color: aliceblue;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
}
.destino{
    background-color: #d17f21;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 70px;
    width: 390px;
    margin-left: 20px;
    flex-wrap: wrap;
}
.numero{
    margin-left: 20px;
}

